@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply light text-text;
  --local-font-sm: 1rem;
  --local-font-md: 1.5rem;
  --local-font-lg: 2rem;
  --local-font-xl: 4rem;
}

@media screen and (max-width: 650px) {
  :root {
    --local-font-sm: 0.7rem;
    --local-font-md: 1rem;
    --local-font-lg: 1.5rem;
    --local-font-xl: 2.2rem;
  }
}

.dark {
  --color-bg-primary: #313131;
  --color-text-primary: #ffffff;
  --color-text-secondary: #edf2f7;
  --color-text-accent: #00516a;
  --color-text-accent-secondary: #44bee3;
}

.light {
  --color-bg-primary: #fff;
  --color-text-primary: #000000;
  --color-text-secondary: #464646;
  --color-text-accent: #00516a;
  --color-text-accent-secondary: #00516a;
}

@layer {
  @font-face {
    font-family: 'Quattrocento Sans';
    src: url('/fonts/Quattrocento Sans.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

#__next {
  @apply h-full flex flex-1 justify-center bg-bgPrimary;
}

.fixed-list {
  position: absolute;
  top: 63px;
  width: 100%;
}
