

.page {
  display: flex;
  flex: 1;
  min-height: 80%;
  flex-direction: column;
  margin: 0 2rem;
}

.header {
  display: flex;
  align-items: center;
  font-size: var(--local-font-sm);
  justify-content: space-between;

  .headerLogo {
    display: flex;
    align-items: center;
  }

  span {
    color: var(--color-text-accent-secondary);
  }
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  .heroTitle {
    font-size: var(--local-font-xl);
    line-height: 1;
    margin-bottom: var(--local-font-xl);
  }

  .wipText {
    font-size: var(--local-font-sm);
    margin-bottom: 1rem;
    max-width: 60ch;
  }

  .subHeading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;

    p {
      font-weight: bold;
      font-size: var(--local-font-md);
    }
  }
}

.footer {
  margin-bottom: 1rem;
  h3 {

    color: var(--color-text-accent-secondary);
    font-size: var(--local-font-md);
  }

  .socialMediaContainer {
    display: flex;
    margin-bottom: 1.5rem;

    a:nth-of-type(2) {
      margin: 0 .6rem
    }
  }
}
